/* btn-rotation */
@keyframes btn-rotation {
  0% {
    --gradient-angle: 0deg; }
  100% {
    --gradient-angle: 360deg; } }
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false; }
/* logo moving */
@keyframes movelogo {
  0% {
    margin-left: -100%; }
  100% {
    margin-left: 100%; } }
@keyframes bounce {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-10px); } }
@keyframes fadeInText {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes lefttoright {
  0% {
    left: 40%; }
  50% {
    left: 62%; }
  100% {
    left: 40%; } }
:root {
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 1s; }

/** Keyframes **/
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%); }
  100% {
    opacity: 1;
    transform: none; } }
/* Animations */
[data-animation] {
  opacity: 0;
  animation-timing-function: var(--animation-timing-function);
  animation-fill-mode: both;
  animation-duration: var(--animation-duration);
  will-change: transform, opacity; }

/* Disable self animation */
.animations-disabled,
.animations-disabled [data-animation] {
  animation: none !important;
  opacity: 1 !important; }

/* // Slide Animations */
.slideInUp {
  animation-name: slideInUp; }

.slideInDown {
  animation-name: slideInDown; }

/* btn-rotation */
@keyframes btn-rotation {
  0% {
    --gradient-angle: 0deg; }
  100% {
    --gradient-angle: 360deg; } }
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false; }
/* logo moving */
@keyframes movelogo {
  0% {
    margin-left: -100%; }
  100% {
    margin-left: 100%; } }
@keyframes bounce {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-10px); } }
@keyframes fadeInText {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes lefttoright {
  0% {
    left: 40%; }
  50% {
    left: 62%; }
  100% {
    left: 40%; } }
:root {
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 1s; }

/** Keyframes **/
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%); }
  100% {
    opacity: 1;
    transform: none; } }
/* Animations */
[data-animation] {
  opacity: 0;
  animation-timing-function: var(--animation-timing-function);
  animation-fill-mode: both;
  animation-duration: var(--animation-duration);
  will-change: transform, opacity; }

/* Disable self animation */
.animations-disabled,
.animations-disabled [data-animation] {
  animation: none !important;
  opacity: 1 !important; }

/* // Slide Animations */
.slideInUp {
  animation-name: slideInUp; }

.slideInDown {
  animation-name: slideInDown; }

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.container {
  width: 100%;
  max-width: 1145px;
  margin: 0 auto; }

.btn {
  font-size: 14px;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer; }

:focus-visible {
  outline: none; }

header {
  position: fixed;
  padding: 28px 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  header.header-scrolled {
    background: #0f67fd; }
  header .social-media {
    height: 20px; }
    header .social-media li {
      padding: 0;
      display: inline-block;
      height: 22px; }
      header .social-media li a {
        width: 22px;
        height: 22px;
        display: inline-block;
        overflow: hidden;
        text-indent: 999px;
        background-image: url(../../images/social-media.png);
        background-repeat: no-repeat; }
        header .social-media li a.facebook {
          background-position: 0% top; }
          header .social-media li a.facebook:hover {
            background-position: 0% bottom; }
        header .social-media li a.instagram {
          background-position: 25% top; }
          header .social-media li a.instagram:hover {
            background-position: 25% bottom; }
        header .social-media li a.linkedin {
          background-position: 50% top; }
          header .social-media li a.linkedin:hover {
            background-position: 50% bottom; }
        header .social-media li a.tiktok {
          background-position: 75% top; }
          header .social-media li a.tiktok:hover {
            background-position: 75% bottom; }
        header .social-media li a.twitter {
          background-position: 100% top; }
          header .social-media li a.twitter:hover {
            background-position: 100% bottom; }
  header .btn {
    padding: 4px 10px;
    position: relative; }
    header .btn:before, header .btn:after {
      display: block;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      border-radius: 4px; }
    header .btn::before {
      top: 0;
      left: 0; }
    header .btn::after {
      bottom: 0;
      right: 0; }
    header .btn:hover::before {
      width: 100%;
      height: 100%;
      opacity: 1;
      border-top: 1px solid #8ad6f8;
      border-right: 1px solid #8ad6f8;
      transition: width 150ms cubic-bezier(0.07, 0.62, 0.61, 1), height 75ms 150ms cubic-bezier(0.07, 0.62, 0.61, 1); }
    header .btn:hover::after {
      width: 100%;
      height: 100%;
      opacity: 1;
      border-bottom: 1px solid #8ad6f8;
      border-left: 1px solid #8ad6f8;
      transition: width 150ms 225ms cubic-bezier(0.07, 0.62, 0.61, 1), height 75ms 450ms cubic-bezier(0.07, 0.62, 0.61, 1), border-left 0ms 225ms linear; }

#hero-section {
  position: relative;
  overflow: hidden;
  height: 102vh; }
  #hero-section .bg-img {
    background: url(../../images/cds-bg.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #hero-section .bg-img img {
      width: 100%;
      height: 100%; }
  #hero-section .bg-logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0.18;
    animation: movelogo 15s linear infinite; }
  #hero-section .banner-wrapper {
    position: relative;
    padding: 80px 0 0;
    z-index: 9; }
  #hero-section .hero-text {
    padding: 65px 16px 0px;
    border-radius: 24px;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    position: relative; }
    #hero-section .hero-text::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #0f67fd 0%, rgba(15, 103, 253, 0) 100%);
      border-radius: 24px;
      z-index: -1;
      opacity: 0.29; }
    #hero-section .hero-text h1 {
      font-size: 62px;
      line-height: 88px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      font-family: "Poppins"; }
      #hero-section .hero-text h1 span {
        font-size: 160px;
        letter-spacing: 3px; }
  #hero-section .middle-cnt {
    width: 100%;
    max-width: 538px;
    margin: 0 auto; }
  #hero-section .mascot-img {
    animation: bounce .7s ease infinite alternate; }
    #hero-section .mascot-img img {
      width: 109px; }
  #hero-section .btn {
    font-size: 16px;
    font-style: italic;
    display: inherit;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #8ad6f8; }
    #hero-section .btn span {
      background-color: #024da1;
      padding: 7px 20px;
      border-radius: 10px;
      transition: all 0.3s; }
    #hero-section .btn:hover span {
      background-color: #0a5bb6; }
  #hero-section .btn-primary {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: btn-rotation 2s linear 0s infinite;
    background: conic-gradient(from calc(var(--gradient-angle) - 80deg) at 50% 50%, transparent 0, #fff 20%, transparent 25%), transparent; }

#navigation.nav-bar {
  display: none; }
#navigation.fixed-nav {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 3%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
#navigation .menu li {
  padding: 0 7px;
  display: inherit; }
#navigation .menu .btn {
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  display: inherit;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid #8ad6f8; }
  #navigation .menu .btn span {
    background-color: rgba(255, 255, 255, 0.302);
    padding: 7px 20px;
    border-radius: 10px; }

@media (max-width: 767px) {
  header .social-media {
    display: none; }

  #hero-section {
    height: 100%; }

  #hero-section .banner-wrapper {
    padding: 80px 0; }

  #hero-section .hero-text h1 span {
    font-size: calc(16vw  + 2vmin); }

  #hero-section .hero-text h1 {
    font-size: calc(5vw + 2vmin);
    line-height: calc(8vw + 2vmin); } }
@media (max-width: 550px) {
  #hero-section .btn {
    font-size: 14px; }

  #hero-section .btn span {
    padding: 7px 12px; } }
@media (max-width: 479px) {
  header .logo {
    width: 40%; }

  header .btn {
    font-size: 12px; }

  #hero-section .hero-text {
    padding-top: 40px; }

  #hero-section .mascot-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; }

  #hero-section .btn {
    display: inline-flex; }

  #hero-section .btn-primary {
    margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */
